body{
    background-image: url(../images/bg.png);
}
h1{
    background-color:#4e4d4d;
    text-align: center;
    color:white ;
    height: 70px;
    padding-top: 30px;
    border-top: 4px solid #017bab ;
}
td{
    background-image: url(../images/code.jpg);
    color: white;
    width: 120px;
    height: 30px;
    font-weight: bold;
    border-top: 2px solid #017bab;
    border-right: 2px solid #017bab;
}
table{
    text-align: center;
    margin-left: 480px;
    background-color: #4e4d4d;
    padding: 20px;
    border-top: 4px solid #017bab ;
}
a:visited{
color:yellow
}
a{
    color: white;
}